download of aux data fails (HTTPS, albedo node)


Got an error when downloading ArcticDEM of STAC on an albedo node:

```
<urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify   sequential_v2.py:227
                               failed: unable to get local issuer certificate (_ssl.c:1010)>
```

according to https://github.com/python-poetry/poetry/issues/5117

with 
```
import ssl
ssl._create_default_https_context = ssl._create_unverified_context
```
you can skip the verification of server certificates (security implications!). should maybe an explicit CLI flag if the user wants to have an unverified connection or is inclined to fix it on the client machine

```
[2025-04-08 11:15:53] WARNING  Could not process                                                    sequential_v2.py:226
                               '/albedo/scratch/user/<USER>/s2/batch_01/20190604T202849_20190604
                               T202903_T08WNB'
                               (tile_id='20190604T202849_20190604T202903_T08WNB_20190604T202849_201
                               90604T202903_T08WNB').
                               Skipping...
                      ERROR    <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify   sequential_v2.py:227
                               failed: unable to get local issuer certificate (_ssl.c:1010)>
                               ╭─────────────── Traceback (most recent call last) ────────────────╮
                               │ /albedo/home/<USER>/.local/share/uv/python/cpython-3.12.9-lin │
                               │ ux-x86_64-gnu/lib/python3.12/urllib/request.py:1344 in do_open   │
                               │                                                                  │
                               │   1341 │   │                                                     │
                               │   1342 │   │   try:                                              │
                               │   1343 │   │   │   try:                                          │
                               │ ❱ 1344 │   │   │   │   h.request(req.get_method(), req.selector, │
                               │   1345 │   │   │   │   │   │     encode_chunked=req.has_header(' │
                               │   1346 │   │   │   except OSError as err: # timeout error        │
                               │   1347 │   │   │   │   raise URLError(err)                       │
                               │                                                                  │
                               │ /albedo/home/<USER>/.local/share/uv/python/cpython-3.12.9-lin │
                               │ ux-x86_64-gnu/lib/python3.12/http/client.py:1338 in request      │
                               │                                                                  │
                               │   1335 │   def request(self, method, url, body=None, headers={}, │
                               │   1336 │   │   │   │   encode_chunked=False):                    │
                               │   1337 │   │   """Send a complete request to the server."""      │
                               │ ❱ 1338 │   │   self._send_request(method, url, body, headers, en │
                               │   1339 │                                                         │
                               │   1340 │   def _send_request(self, method, url, body, headers, e │
                               │   1341 │   │   # Honor explicitly requested Host: and Accept-Enc │
                               │                                                                  │
                               │ /albedo/home/<USER>/.local/share/uv/python/cpython-3.12.9-lin │
                               │ ux-x86_64-gnu/lib/python3.12/http/client.py:1384 in              │
                               │ _send_request                                                    │
                               │                                                                  │
                               │   1381 │   │   │   # RFC 2616 Section 3.7.1 says that text defau │
                               │   1382 │   │   │   # default charset of iso-8859-1.              │
                               │   1383 │   │   │   body = _encode(body, 'body')                  │
                               │ ❱ 1384 │   │   self.endheaders(body, encode_chunked=encode_chunk │
                               │   1385 │                                                         │
                               │   1386 │   def getresponse(self):                                │
                               │   1387 │   │   """Get the response from the server.              │
                               │                                                                  │
                               │ /albedo/home/<USER>/.local/share/uv/python/cpython-3.12.9-lin │
                               │ ux-x86_64-gnu/lib/python3.12/http/client.py:1333 in endheaders   │
                               │                                                                  │
                               │   1330 │   │   │   self.__state = _CS_REQ_SENT                   │
                               │   1331 │   │   else:                                             │
                               │   1332 │   │   │   raise CannotSendHeader()                      │
                               │ ❱ 1333 │   │   self._send_output(message_body, encode_chunked=en │
                               │   1334 │                                                         │
                               │   1335 │   def request(self, method, url, body=None, headers={}, │
                               │   1336 │   │   │   │   encode_chunked=False):                    │
                               │                                                                  │
                               │ /albedo/home/<USER>/.local/share/uv/python/cpython-3.12.9-lin │
                               │ ux-x86_64-gnu/lib/python3.12/http/client.py:1093 in _send_output │
                               │                                                                  │
                               │   1090 │   │   self._buffer.extend((b"", b""))                   │
                               │   1091 │   │   msg = b"\r\n".join(self._buffer)                  │
                               │   1092 │   │   del self._buffer[:]                               │
                               │ ❱ 1093 │   │   self.send(msg)                                    │
                               │   1094 │   │                                                     │
                               │   1095 │   │   if message_body is not None:                      │
                               │   1096                                                           │
                               │                                                                  │
                               │ /albedo/home/<USER>/.local/share/uv/python/cpython-3.12.9-lin │
                               │ ux-x86_64-gnu/lib/python3.12/http/client.py:1037 in send         │
                               │                                                                  │
                               │   1034 │   │                                                     │
                               │   1035 │   │   if self.sock is None:                             │
                               │   1036 │   │   │   if self.auto_open:                            │
                               │ ❱ 1037 │   │   │   │   self.connect()                            │
                               │   1038 │   │   │   else:                                         │
                               │   1039 │   │   │   │   raise NotConnected()                      │
                               │   1040                                                           │
                               │                                                                  │
                               │ /albedo/home/<USER>/.local/share/uv/python/cpython-3.12.9-lin │
                               │ ux-x86_64-gnu/lib/python3.12/http/client.py:1479 in connect      │
                               │                                                                  │
                               │   1476 │   │   │   else:                                         │
                               │   1477 │   │   │   │   server_hostname = self.host               │
                               │   1478 │   │   │                                                 │
                               │ ❱ 1479 │   │   │   self.sock = self._context.wrap_socket(self.so │
                               │   1480 │   │   │   │   │   │   │   │   │   │   │   │     server_ │
                               │   1481 │                                                         │
                               │   1482 │   __all__.append("HTTPSConnection")                     │
                               │                                                                  │
                               │ /albedo/home/jokuep001/.local/share/uv/python/cpython-3.12.9-lin │
                               │ ux-x86_64-gnu/lib/python3.12/ssl.py:455 in wrap_socket           │
                               │                                                                  │
                               │    452 │   │   │   │   │   server_hostname=None, session=None):  │
                               │    453 │   │   # SSLSocket class handles server_hostname encodin │
                               │    454 │   │   # ctx._wrap_socket()                              │
                               │ ❱  455 │   │   return self.sslsocket_class._create(              │
                               │    456 │   │   │   sock=sock,                                    │
                               │    457 │   │   │   server_side=server_side,                      │
                               │    458 │   │   │   do_handshake_on_connect=do_handshake_on_conne │
                               │                                                                  │
                               │ /albedo/home/jokuep001/.local/share/uv/python/cpython-3.12.9-lin │
                               │ ux-x86_64-gnu/lib/python3.12/ssl.py:1041 in _create              │
                               │                                                                  │
                               │   1038 │   │   │   │   │   if timeout == 0.0:                    │
                               │   1039 │   │   │   │   │   │   # non-blocking                    │
                               │   1040 │   │   │   │   │   │   raise ValueError("do_handshake_on │
                               │        specified for non-blocking sockets")                      │
                               │ ❱ 1041 │   │   │   │   │   self.do_handshake()                   │
                               │   1042 │   │   except:                                           │
                               │   1043 │   │   │   try:                                          │
                               │   1044 │   │   │   │   self.close()                              │
                               │                                                                  │
                               │ /albedo/home/jokuep001/.local/share/uv/python/cpython-3.12.9-lin │
                               │ ux-x86_64-gnu/lib/python3.12/ssl.py:1319 in do_handshake         │
                               │                                                                  │
                               │   1316 │   │   try:                                              │
                               │   1317 │   │   │   if timeout == 0.0 and block:                  │
                               │   1318 │   │   │   │   self.settimeout(None)                     │
                               │ ❱ 1319 │   │   │   self._sslobj.do_handshake()                   │
                               │   1320 │   │   finally:                                          │
                               │   1321 │   │   │   self.settimeout(timeout)                      │
                               │   1322                                                           │
                               ╰──────────────────────────────────────────────────────────────────╯
                               SSLCertVerificationError: [SSL: CERTIFICATE_VERIFY_FAILED]
                               certificate verify failed: unable to get local issuer certificate
                               (_ssl.c:1010)

                               During handling of the above exception, another exception occurred:

                               ╭─────────────── Traceback (most recent call last) ────────────────╮
                               │ /albedo/home/jokuep001/repos/darts-nextgen/darts/src/darts/pipel │
                               │ ines/sequential_v2.py:167 in run                                 │
                               │                                                                  │
                               │   164 │   │   │   │   with stopuhr("Loading optical data", log=F │
                               │   165 │   │   │   │   │   tile = self._load_tile(tilekey)        │
                               │   166 │   │   │   │   with stopuhr("Loading ArcticDEM", log=Fals │
                               │ ❱ 167 │   │   │   │   │   arcticdem = load_arcticdem(            │
                               │   168 │   │   │   │   │   │   tile.odc.geobox,                   │
                               │   169 │   │   │   │   │   │   self.arcticdem_dir,                │
                               │   170 │   │   │   │   │   │   resolution=arcticdem_resolution,   │
                               │                                                                  │
                               │ /albedo/home/jokuep001/repos/darts-nextgen/.venv/lib/python3.12/ │
                               │ site-packages/stopuhr/funkuhr.py:268 in _inner                   │
                               │                                                                  │
                               │   265 │   │   │   │   _inner_msg += f" (with {bound_args_msg})"  │
                               │   266 │   │   │                                                  │
                               │   267 │   │   │   with stopuhr(_inner_msg, printer, res):        │
                               │ ❱ 268 │   │   │   │   return func(*args, **kwargs)               │
                               │   269 │   │                                                      │
                               │   270 │   │   return _inner                                      │
                               │   271                                                            │
                               │                                                                  │
                               │ /albedo/home/jokuep001/repos/darts-nextgen/darts-acquisition/src │
                               │ /darts_acquisition/arcticdem.py:84 in load_arcticdem             │
                               │                                                                  │
                               │   81 │                                                           │
                               │   82 │   accessor.assert_created()                               │
                               │   83 │                                                           │
                               │ ❱ 84 │   arcticdem = accessor.load(geobox, buffer=buffer, persis │
                               │   85 │                                                           │
                               │   86 │   # Change dtype of the datamask to uint8 for later repro │
                               │   87 │   arcticdem["datamask"] = arcticdem.datamask.astype("uint │
                               │                                                                  │
                               │ /albedo/home/jokuep001/repos/darts-nextgen/.venv/lib/python3.12/ │
                               │ site-packages/smart_geocubes/accessors/base.py:350 in load       │
                               │                                                                  │
                               │   347 │   │   │                                                  │
                               │   348 │   │   │   # Download the adjacent tiles (if necessary)   │
                               │   349 │   │   │   reference_geobox = geobox.to_crs(self.extent.c │
                               │       resolution=self.extent.resolution.x).pad(buffer)           │
                               │ ❱ 350 │   │   │   self.procedural_download(reference_geobox,     │
                               │       concurrency_mode=concurrency_mode)                         │
                               │   351 │   │   │                                                  │
                               │   352 │   │   │   # Load the datacube and set the spatial_ref si │
                               │       within the zarr format                                     │
                               │   353 │   │   │   session = self.repo.readonly_session("main")   │
                               │                                                                  │
                               │ /albedo/home/jokuep001/repos/darts-nextgen/.venv/lib/python3.12/ │
                               │ site-packages/smart_geocubes/accessors/base.py:433 in            │
                               │ procedural_download                                              │
                               │                                                                  │
                               │   430 │   │   """                                                │
                               │   431 │   │   self.assert_created()                              │
                               │   432 │   │   if concurrency_mode == "blocking":                 │
                               │ ❱ 433 │   │   │   self.procedural_download_blocking(geobox)      │
                               │   434 │   │   elif concurrency_mode == "threading":              │
                               │   435 │   │   │   raise ValueError("Threading mode is currently  │
                               │       instead.")                                                 │
                               │   436 │   │   │   # self.procedural_download_threading(geobox)   │
                               │                                                                  │
                               │ /albedo/home/jokuep001/repos/darts-nextgen/.venv/lib/python3.12/ │
                               │ site-packages/smart_geocubes/accessors/base.py:477 in            │
                               │ procedural_download_blocking                                     │
                               │                                                                  │
                               │   474 │   │   │   for tile in new_tiles:                         │
                               │   475 │   │   │   │   with self.stopuhr(f"{tile.id=}: Downloadin │
                               │       mode"):                                                    │
                               │   476 │   │   │   │   │   logger.debug(f"{tile.id=}: Start downl │
                               │ ❱ 477 │   │   │   │   │   tiledata = self.download_tile(tile)    │
                               │   478 │   │   │   │                                              │
                               │   479 │   │   │   │   # Try to write the data to file until a li │
                               │   480 │   │   │   │   limit = 100                                │
                               │                                                                  │
                               │ /albedo/home/jokuep001/repos/darts-nextgen/.venv/lib/python3.12/ │
                               │ site-packages/smart_geocubes/accessors/stac.py:94 in             │
                               │ download_tile                                                    │
                               │                                                                  │
                               │    91 │   │   """                                                │
                               │    92 │   │   from odc.stac import stac_load                     │
                               │    93 │   │                                                      │
                               │ ❱  94 │   │   tiledata = stac_load([tile.item], bands=self.chann │
                               │       progress=None)                                             │
                               │    95 │   │                                                      │
                               │    96 │   │   # TODO: Allow for multi-temporal datacubes         │
                               │    97 │   │   tiledata = tiledata.max("time")                    │
                               │                                                                  │
                               │ /albedo/home/jokuep001/.local/share/uv/python/cpython-3.12.9-lin │
                               │ ux-x86_64-gnu/lib/python3.12/functools.py:998 in __get__         │
                               │                                                                  │
                               │    995 │   │   │   raise TypeError(msg) from None                │
                               │    996 │   │   val = cache.get(self.attrname, _NOT_FOUND)        │
                               │    997 │   │   if val is _NOT_FOUND:                             │
                               │ ❱  998 │   │   │   val = self.func(instance)                     │
                               │    999 │   │   │   try:                                          │
                               │   1000 │   │   │   │   cache[self.attrname] = val                │
                               │   1001 │   │   │   except TypeError:                             │
                               │                                                                  │
                               │ /albedo/home/jokuep001/repos/darts-nextgen/.venv/lib/python3.12/ │
                               │ site-packages/smart_geocubes/datasets/arcticdem.py:50 in item    │
                               │                                                                  │
                               │    47 │   def item(self):  # noqa: D102                          │
                               │    48 │   │   import pystac                                      │
                               │    49 │   │                                                      │
                               │ ❱  50 │   │   return pystac.Item.from_file(self.stac_file)       │
                               │    51                                                            │
                               │    52                                                            │
                               │    53 def _download_arcticdem_extent(save_dir: Path):            │
                               │                                                                  │
                               │ /albedo/home/jokuep001/repos/darts-nextgen/.venv/lib/python3.12/ │
                               │ site-packages/pystac/stac_object.py:632 in from_file             │
                               │                                                                  │
                               │   629 │   │   if not is_absolute_href(href):                     │
                               │   630 │   │   │   href = make_absolute_href(href)                │
                               │   631 │   │                                                      │
                               │ ❱ 632 │   │   d = stac_io.read_json(href)                        │
                               │   633 │   │   o = cls.from_dict(d, href=href, migrate=True, pres │
                               │   634 │   │                                                      │
                               │   635 │   │   # If this is a root catalog, set the root to the c │
                               │                                                                  │
                               │ /albedo/home/jokuep001/repos/darts-nextgen/.venv/lib/python3.12/ │
                               │ site-packages/pystac/stac_io.py:206 in read_json                 │
                               │                                                                  │
                               │   203 │   │   │   dict: A dict representation of the JSON contai │
                               │   204 │   │   │   given source.                                  │
                               │   205 │   │   """                                                │
                               │ ❱ 206 │   │   txt = self.read_text(source, *args, **kwargs)      │
                               │   207 │   │   return self.json_loads(txt)                        │
                               │   208 │                                                          │
                               │   209 │   def read_stac_object(                                  │
                               │                                                                  │
                               │ /albedo/home/jokuep001/repos/darts-nextgen/.venv/lib/python3.12/ │
                               │ site-packages/pystac/stac_io.py:283 in read_text                 │
                               │                                                                  │
                               │   280 │   │   is not already) and delegates to :meth:`DefaultSta │
                               │   281 │   │   opening and reading the file."""                   │
                               │   282 │   │   href = str(os.fspath(source))                      │
                               │ ❱ 283 │   │   return self.read_text_from_href(href)              │
                               │   284 │                                                          │
                               │   285 │   def read_text_from_href(self, href: str) -> str:       │
                               │   286 │   │   """Reads file as a UTF-8 string.                   │
                               │                                                                  │
                               │ /albedo/home/jokuep001/repos/darts-nextgen/.venv/lib/python3.12/ │
                               │ site-packages/pystac/stac_io.py:301 in read_text_from_href       │
                               │                                                                  │
                               │   298 │   │   │   try:                                           │
                               │   299 │   │   │   │   logger.debug(f"GET {href} Headers: {self.h │
                               │   300 │   │   │   │   req = Request(href, headers=self.headers)  │
                               │ ❱ 301 │   │   │   │   with urlopen(req) as f:                    │
                               │   302 │   │   │   │   │   href_contents = f.read().decode("utf-8 │
                               │   303 │   │   │   except HTTPError as e:                         │
                               │   304 │   │   │   │   raise Exception(f"Could not read uri {href │
                               │                                                                  │
                               │ /albedo/home/jokuep001/.local/share/uv/python/cpython-3.12.9-lin │
                               │ ux-x86_64-gnu/lib/python3.12/urllib/request.py:215 in urlopen    │
                               │                                                                  │
                               │    212 │   │   _opener = opener = build_opener()                 │
                               │    213 │   else:                                                 │
                               │    214 │   │   opener = _opener                                  │
                               │ ❱  215 │   return opener.open(url, data, timeout)                │
                               │    216                                                           │
                               │    217 def install_opener(opener):                               │
                               │    218 │   global _opener                                        │
                               │                                                                  │
                               │ /albedo/home/jokuep001/.local/share/uv/python/cpython-3.12.9-lin │
                               │ ux-x86_64-gnu/lib/python3.12/urllib/request.py:515 in open       │
                               │                                                                  │
                               │    512 │   │   │   req = meth(req)                               │
                               │    513 │   │                                                     │
                               │    514 │   │   sys.audit('urllib.Request', req.full_url, req.dat │
                               │        req.get_method())                                         │
                               │ ❱  515 │   │   response = self._open(req, data)                  │
                               │    516 │   │                                                     │
                               │    517 │   │   # post-process response                           │
                               │    518 │   │   meth_name = protocol+"_response"                  │
                               │                                                                  │
                               │ /albedo/home/jokuep001/.local/share/uv/python/cpython-3.12.9-lin │
                               │ ux-x86_64-gnu/lib/python3.12/urllib/request.py:532 in _open      │
                               │                                                                  │
                               │    529 │   │   │   return result                                 │
                               │    530 │   │                                                     │
                               │    531 │   │   protocol = req.type                               │
                               │ ❱  532 │   │   result = self._call_chain(self.handle_open, proto │
                               │    533 │   │   │   │   │   │   │   │     '_open', req)           │
                               │    534 │   │   if result:                                        │
                               │    535 │   │   │   return result                                 │
                               │                                                                  │
                               │ /albedo/home/jokuep001/.local/share/uv/python/cpython-3.12.9-lin │
                               │ ux-x86_64-gnu/lib/python3.12/urllib/request.py:492 in            │
                               │ _call_chain                                                      │
                               │                                                                  │
                               │    489 │   │   handlers = chain.get(kind, ())                    │
                               │    490 │   │   for handler in handlers:                          │
                               │    491 │   │   │   func = getattr(handler, meth_name)            │
                               │ ❱  492 │   │   │   result = func(*args)                          │
                               │    493 │   │   │   if result is not None:                        │
                               │    494 │   │   │   │   return result                             │
                               │    495                                                           │
                               │                                                                  │
                               │ /albedo/home/jokuep001/.local/share/uv/python/cpython-3.12.9-lin │
                               │ ux-x86_64-gnu/lib/python3.12/urllib/request.py:1392 in           │
                               │ https_open                                                       │
                               │                                                                  │
                               │   1389 │   │   │   self._context = context                       │
                               │   1390 │   │                                                     │
                               │   1391 │   │   def https_open(self, req):                        │
                               │ ❱ 1392 │   │   │   return self.do_open(http.client.HTTPSConnecti │
                               │   1393 │   │   │   │   │   │   │   │   context=self._context)    │
                               │   1394 │   │                                                     │
                               │   1395 │   │   https_request = AbstractHTTPHandler.do_request_   │
                               │                                                                  │
                               │ /albedo/home/jokuep001/.local/share/uv/python/cpython-3.12.9-lin │
                               │ ux-x86_64-gnu/lib/python3.12/urllib/request.py:1347 in do_open   │
                               │                                                                  │
                               │   1344 │   │   │   │   h.request(req.get_method(), req.selector, │
                               │   1345 │   │   │   │   │   │     encode_chunked=req.has_header(' │
                               │   1346 │   │   │   except OSError as err: # timeout error        │
                               │ ❱ 1347 │   │   │   │   raise URLError(err)                       │
                               │   1348 │   │   │   r = h.getresponse()                           │
                               │   1349 │   │   except:                                           │
                               │   1350 │   │   │   h.close()                                     │
                               ╰──────────────────────────────────────────────────────────────────╯
                               URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED]
                               certificate verify failed: unable to get local issuer certificate
                               (_ssl.c:1010)>

```
